/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2017, 7:55:03 PM
    Author     : aespi
*/

.root{
    
}

.dialog_pane {
    -fx-padding:15;
}

.dialog_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.bordered_pane {
    -fx-background-color: #fbedfe;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-border-width: 1px;
    -fx-border-color: #bebcbf;
}

.navigation_pane {
    -fx-background-color: #fbedfe;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-border-width: 1px;
    -fx-border-color: #bebcbf;
}

.file_button {
    -fx-padding: 10 20 10 20;
}

.welcome_label {
    -fx-font-size:18pt;
    -fx-font-weight: bold;
    -fx-padding: 25 25 20 15;
    -fx-spacing: 10;    
}

.welcome_toolbar {
    
}

.welcome_recent_box {
    -fx-background-color: #fbedfe;
}

.welcome_main_box {
    -fx-background-color: #fff;
}

.welcome_image_view {
    -fx-padding: 75 0 0 0;
}

.welcome_hyperlink {
    -fx-font-size: 12pt;
    -fx-underline: true;
    -fx-spacing: 0,0,0,25;
}

.workspace_view {
    -fx-background-color: #fff;
}

.main_workspace_label{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-padding: 0 5 10 5;
    -fx-spacing: 10;    
}

.secondary_workspace_label {
    -fx-font-size: 12pt;
    -fx-padding: 0 25 10 5;
    -fx-spacing: 10; 
}

.listview_workspace_label {
    -fx-font-size: 10pt;
    -fx-padding: 0 0 0 250;    
}

.listview_workspace {
    -fx-spacing: 0 0 0 250;  
}

.default_buttons_workspace { 
    -fx-font-size: 10pt;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 5 5 5 5;
}

.progress_bar_workspace {
    -fx-background-radius: 5 5 5 5;
}
